[submodule "libs-src/ActionBarSherlock"]
	path = libs-src/ActionBarSherlock
	url = https://github.com/JakeWharton/ActionBarSherlock.git
[submodule "libs-src/ImageCache"]
	path = libs-src/ImageCache
	url = https://github.com/mitmel/Android-Image-Cache.git
[submodule "libs-src/staticmap"]
	path = libs-src/staticmap
	url = http://mel-tools.mit.edu/git-ro/android-staticmap.git
